body {
    font-family: Verdana, sans-serif;
    margin: 20;
    padding: 20px;
    background-image: url('HOMEPHOTO.png');
    background-size: 100% 280%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
}




header {
    color: #fff;
    position: sticky;
    display: flex; /* Ustawienie elementów w linii */
    align-items: center; /* Wyśrodkowanie elementów w pionie */
    justify-content: space-between; /* Rozstawienie elementów na końcach kontenera */
}

.logo img {
    max-height: 90px;
    margin-left: 20px; /* Odpowiednio dostosuj marginesy */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Ustawienie elementów w linii */
}

nav ul li {
    margin-left: 20px; /* Odpowiednio dostosuj marginesy */
}

nav ul li:first-child {
    margin-left: 0; /* Usuń margines dla pierwszego elementu listy */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}







main {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: 1;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.gallery img {
    max-width: 200px;
    margin: 0 10px;
}


